<%- include('./partials/header.ejs') %>
	<div class="center">
    	<h1><%= bottles %> Bottles of Beer!</h1>
    	<a href="/bottles/<%= next %>" class="neon-button" ><%= next %> Bottles of Beer!</a>
    </div>
<%- include('./partials/footer.ejs') %>